body {
    font-family      : Ubuntu, SansSerif;
    width            : 100%;
}

.wrapper{
    margin: 0 auto;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Share Tech Mono';
}

h1 {
    font-size        : 1.3em;
    padding-bottom   : 10px;
}

h2 {
    font-size        : 1em;
    margin-top       : 0px;
    margin-bottom    : 8px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin           : 0px;
    padding          : 0px;
    line-height      : 1.5em;
}

.title{
    margin: 0 auto;
    height: 100px;
    padding: 8px;
    text-align: center;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}

.title h1{
    line-height: 7px;
}

div#left {
    font-size        : small;
    position         : fixed;
    left             : 0;
    top              : 0;
    width            : 300px;
      display          : none;
}

div#content {
    position         : relative;
    left             : 300px;
}

div.text {
    padding          : 10px;
}

div#left a {
    color            : #0000a0;
}

div.orgChart a {
    color            : black;
    text-decoration  : none;
}

div.orgChart a:hover {
    color            : black;
    text-decoration  : underline;
}

img.star {
    width            : 16px;
    height           : 16px;
}